* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 28px 30px 10px 0;
    background: rgba(255, 255, 255, .9);
    position: sticky;
    top: 0px;
    backdrop-filter: blur(7px);
    transition: all .3s ease-out;
    font-family: "YekanBakhMedium", Geneva, Tahoma, sans-serif;
    z-index: 100;
}

.header-ul {
    display: flex;
}

.more-menu {
    display: flex;
    align-items: center;
}

.more-menu img {
    width: 7px;
    margin-right: 5px;
}

.header-ul li {
    list-style-type: none;
    margin: 10px 13px
}

.header-ul li a {
    text-decoration: none;
    color: black;

}

#last-child {
    margin-right: 45px;
}

#last-child a {
    padding: 10px 25px;
    background: rgba(121, 176, 182, 0.144);
    border-radius: 25px;
    font-family: YekanBakhBold;
    transition: all .3s ease-out;
}

.header-ul li:last-child a:hover {
    background: rgba(255, 255, 200, .7);
}

.hamburger-icon {
    list-style-type: none;
    display: none;
    cursor: pointer;
}

.hamburger-menu-items a {
    text-decoration: none;
    color: black;
}

.hamburger-menu-items ul li {
    list-style-type: none;
    margin: 4px;
}

.cross-icon {
    direction: ltr;
    padding: 14px;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 100;
    background: white;
    left: 0px;
    top: 0px;
    font-family: "iranyekanwebmedium";
    line-height: 2;
    padding: 0 18px 0 0;
    transform: translateY(-100%)
}

.show-hamburger-menu {
    animation: fadeInDown 1s forwards;
}

@keyframes dontShow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;

    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hamburger-menu-items div {
    border: .1px solid gray;
    opacity: .1;
    height: 0px;
    width: 70%;
    margin-right: 3px;
}

.more-item {
    background: rgba(255, 255, 200, .7);
    padding: 0px 20px;
    display: flex;
    align-items: center;

    width: 100%;
}

.more-item img {
    margin-right: 7px;
    padding: 4px;
}

.product-menu {
    display: none;
    gap: 3px;
    background-color: white;
    border-radius: 10px;
    padding: 4px 7px;
    position: absolute;
    top: 25px;
    left: -130px;
    width: 300px;
    filter: drop-shadow(0px -3px 1px rgb(255, 174, 0));

}

#show-product-menu {
    position: relative;
}

.product-menu div a {
    padding: 15px;
}

.product-menu div a p:first-child {
    font-family: "YekanBakhBold";
    font-size: 14px;

}

.product-menu div a p:last-child {
    font-size: 13px;
    font-family: "iranyekanwebregular";
}

#show-more-menu ul {
    position: absolute;
    width: 130px;
    background-color: white;
    padding: 10px 15px;
    top: 25px;
    left: -40px;
    text-align: center;
    border-radius: 7px;
    filter: drop-shadow(0px -3px 1px rgb(255, 145, 0));
    display: none;
}

#show-more-menu {
    position: relative;

}
@keyframes hide{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#show-more-menu ul li a {
    text-decoration: none;
    font-family: "YekanBakhBold";
    font-size: 14px;

}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner {
    width: 1170px;
    display: flex;
    margin: 20px auto;
    padding: 124px 60px 80px;
    background: linear-gradient(135deg, #21254e, #2b4a83);
    font-family: "YekanBakhMedium", Geneva, Tahoma, sans-serif;
    text-align: justify;
    justify-content: space-between;
    border-radius: 15px;
}

.banner-text h3 {
    font-family: 'YekanBakhHeavy';
    font-size: 2rem;
    color: #fff;
}

.banner-text p {
    color: #fff;
    line-height: 2.15rem;
    margin: 25px 0;
}

.banner-text {
    width: 100%;
}

.banner-image {
    width: 100%;
}

.banner-button {
    margin-top: 100px;
}

.banner-button a {
    padding: 4px 7px;
}

.banner-button a {
    font-family: 'YekanBakhBold';
    font-size: 1rem;
    padding: 6px 14px;
}

.banner-button #register {
    background: #ffd900;
    color: black;
    text-decoration: none;
    border-radius: 9px;
    border: none;
    margin-left: 4px;
}

.banner-button #login {
    color: white;
    background: blue;
    text-decoration: none;
    border-radius: 9px;
    border: none;

}

.go-down {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 40px;
}

.go-down div {
    background: url(../images/arrowbottom.svg);
    width: 160px;
    height: 76px;
    position: relative;
    bottom: 18px;
}

.go-down img {
    width: 13px;
    bottom: 70px;
    right: 1px;
    position: relative;
    filter: drop-shadow(0px 0 0px black);
}

.cards {
    width: 1170px;
    display: flex;
    padding: 40px 60px 80px;
    font-family: "YekanBakhMedium", Geneva, Tahoma, sans-serif;
    text-align: justify;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    margin: auto;
    height: fit-content;
    border-radius: 15px;
}

.text {
    margin: 15px 0px;
    padding: 0 10px;
    width: 475px;
    line-height: 2.2;
}

h1 {
    font-family: 'YekanBakhHeavy';
    font-size: 1.8rem;
}

h4 {
    font-family: 'iranyekanwebmedium';
    font-size: 1.3rem;
    color: rgba(179, 184, 184, 0.9)
}

.text h4 {
    font-family: 'YekanBakhMedium';

}

.text h3 {
    font-family: 'YekanBakhHeavy';
}

.text p {
    text-align: justify;
    font-family: 'YekanBakhBold';
}

.card-image img {
    width: 450px;
    height: 480px;
}

.between-line {
    height: 0;
    border: 1px solid grey;
    opacity: .4;
    width: 90%;
    margin: 10px auto 10px auto;
}

.card-buttons {
    padding: 10px;
    position: relative;
    display: flex;

    align-items: center;

}

.card-buttons div a {
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    font-family: 'YekanBakhBold';
    font-size: 14px;
    border-radius: 9px;
    border: none;

}

.card-buttons div:first-child a {
    background: #ffd900;
    margin-left: 4px;
    ;
}

.card-buttons div:last-child a {
    background: #9caed4;
    color: #4275e2;
}

#more-info img {
    position: relative;
    top: 4px;
    right: 2px;
    width: 15px;
}

#card2 .card-text .text {
    width: 450px;

}

#card4 .card-text .text {
    width: auto;
}

#card4 .card-image {
    width: fit-content;
}

#card4 .card-image img {
    width: 550px;
}

#card2 .card-image img {
    width: 550px;
}

#card1 .card-image img {
    width: 470px;
}

#card1 .card-text .text {
    width: 450px;

}

#article {
    width: fit-content;
    margin: auto;
    padding: 0px 45px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
}

.item div {
    display: flex;
    flex-direction: row;
}

.item div img {
    width: 48px;
}

.definition {
    display: flex;
    flex-direction: row;
    width: 1170px;
    justify-content: space-between;
    align-items: flex-start;
}

.item {
    height: 200px;
    width: 350px;
    padding: 18px 15px 0px 0;
}

.item p {
    padding: 10px 60px;
    text-align: justify;
    font-family: 'iranyekanwebregular';
    font-size: .9rem;
}

.item div h4 {
    padding: 10px 10px;
    color: black;
    font-family: 'YekanBakhHeavy';
}

.definition .text1 p {
    font-family: 'iranyekanwebregular';
    text-align: justify;
}

.definition .text1 {
    width: 400px;
}

.text1 p {
    font-family: 'iranyekanwebregular';
    line-height: 2;
    margin: 10px 15px
}

.text1 h3 {
    font-family: 'YekanBakhHeavy';
    padding: 10px 15px;
}

.row1 {
    border-bottom: 1px solid #e0e4e7;
}

.first-item {
    border-left: 1px solid #e0e4e7;
}

.third-item {
    border-left: 1px solid #e0e4e7;
}

#start-box {
    width: 1170px;
    height: 200px;
    border-radius: 10px;
    background: #f4f4ed;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 auto;
}

#start-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-box h3 {
    font-family: YekanBakhHeavy;
    padding: 20px;
}

#start-box p {
    font-family: iranyekanwebregular;
    color: #858483
}

#start-box a {
    margin-top: 20px;
    text-decoration: none;
    color: black;
    background: #ffd900;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    border-radius: 10px;
    font-family: YekanBakhBold;
    font-size: .9rem;
}

#support {
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}
.support-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-family: 'YekanBakhHeavy';
    background: rgb(243, 226, 232);
    border-radius: 25px;
    height: 50px;
}

.support-header a {
    text-decoration: none;
    color: blue;
}

.support-header img {
    width: 20px;
}

#support-req {
    display: flex;
    gap: 4px;
}

.support-body {
    display: flex;
    justify-content: space-between;
}

.support-body h4 {
    color: black;
    font-size: .9rem;
}

.support-more {
    display: flex;
    gap: 1.6rem;
    padding: 25px 15px;
}

.support-more-part {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.support-more-part h4 {
    padding: 0 0 15px 0;
}

.support-more-part a {
    text-decoration: none;
    font-family: 'iranyekanwebregular';
    color: black;
    font-size: .8rem;
}

.born-year {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 25px;
    font-family: 'YekanBakhBold';
    font-size: .8rem;
}

.support-social {
    display: flex;
    flex-direction: column;
    padding: 35px 0;
    gap: 12px;
    font-family: 'YekanBakhHeavy';
    font-size: .8rem;
    width: 230px;
}

.social-icons {
    display: flex;
    padding: 0px 0;
    gap: 24px;
}

.social-icons img {
    width: 25px;
}

.bell {
    width: fit-content;
    background-color: skyblue;
    border-radius: 50%;
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 7px 7px 0;
}

.bell img {
    width: 35px;
}